/****** color red http://colorschemedesigner.com/#0011Tw0w0w0w0 ******/

a:link, a:visited, a:hover {
	color: #FF0000;
}

h1, h2, h3, h4, h5, h6 {
 color: #A60000;
}

.pagegroup, .pagegroup a {
	color: #FF7373 !important;
}

#wikitext, #sidebar, #footer, hr {
	border-color: #FF4040;
}

.messagehead, .journalhead {
	background: #BF3030;
}
