/****** color teal http://colorschemedesigner.com/#3k11Tw0w0w0w0 ******/

a:link, a:visited, a:hover {
	color: #028E9B;
}

h1, h2, h3, h4, h5, h6 {
 color: #015C65;
}

.pagegroup, .pagegroup a {
	color: #5EC4CD !important;
}

#wikitext, #sidebar, #footer, hr {
	border-color: #35C0CD;
}

.messagehead, .journalhead {
	background: #1E6D74;
}
