/****** color green http://colorschemedesigner.com/#3011Tw0w0w0w0 ******/

a:link, a:visited, a:hover {
	color: #00B358;
}

h1, h2, h3, h4, h5, h6 {
 color: #007439;
}

.pagegroup, .pagegroup a {
	color: #62D99C !important;
}

#wikitext, #sidebar, #footer, hr {
	border-color: #36D986;
}

.messagehead, .journalhead {
	background: #228653;
}
