/****** color blue http://colorschemedesigner.com/#3F11Tw0w0w0w0 ******/

a:link, a:visited, a:hover {
	color: #0F4DA8;
}

h1, h2, h3, h4, h5, h6 {
 color: #052F6D;
}

.pagegroup, .pagegroup a {
	color: #6A94D4 !important;
}

#wikitext, #sidebar, #footer, hr {
	border-color: #437DD4;
}

.messagehead, .journalhead {
	background: #284B7E;
}
