/****** color yellow http://colorschemedesigner.com/#1411Tw0w0w0w0 ******/

a:link, a:visited, a:hover {
	color: #FFB600;
}

h1, h2, h3, h4, h5, h6 {
 color: #A67600;
}

.pagegroup, .pagegroup a {
	color: #FFD773 !important;
}

#wikitext, #sidebar, #footer, hr {
	border-color: #FFC840;
}

.messagehead, .journalhead {
	background: #BF9630;
}
