/****** color darkgreen http://colorschemedesigner.com/#2P11Tk.jzuDv5 ******/

a:link, a:visited, a:hover {
	color: #2D7D2D;
}

h1, h2, h3, h4, h5, h6 {
 color: #0F530F;
}

.pagegroup, .pagegroup a {
	color: #78BC78 !important;
}

#wikitext, #sidebar, #footer, hr {
	border-color: #305F30;
}

.messagehead, .journalhead {
	background: #305F30;
}
