/****** color orange http://colorschemedesigner.com/#0B11Tw0w0w0w0 ******/

a:link, a:visited, a:hover {
	color: #FF8500;
}

h1, h2, h3, h4, h5, h6 {
 color: #A65600;
}

.pagegroup, .pagegroup a {
	color: #FFBC73 !important;
}

#wikitext, #sidebar, #footer, hr {
	border-color: #FFA340;
}

.messagehead, .journalhead {
	background: #BF7A30;
}
