/****** color purple http://colorschemedesigner.com/#4N11vw0w0w0w0 ******/

a:link, a:visited, a:hover {
	color: #68237F;
}

h1, h2, h3, h4, h5, h6 {
 color: #54026E;
}

.pagegroup, .pagegroup a {
	color: #B964D4 !important;
}

#wikitext, #sidebar, #footer, hr {
	border-color: #AF3BD4;
}

.messagehead, .journalhead {
	background: #68237F;
}
