/*
Theme Name: Family2013
Theme URI: https://bitbucket.org/tenseg/family2013
Version: 1.0.1
Description: A WordPress theme based on the Celeste Family wiki
Author: Alexander Celeste and Eric Celeste
Bitbucket Theme URI: https://bitbucket.org/tenseg/family2013
Bitbucket Branch: release
*/

/***********************************************/
/* family.css, based heavily on...             */

/* 2col_rightNav.css                           */
/* Use with template 2col_rightNav.html        */

/***********************************************/

/* Media */

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}
img {
    height: auto;
    width: auto;
    max-width: 100%;
}
/* End media */

/* Captions */

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* End captions */

/***********************************************/
/* For Comments               				   */
/***********************************************/

ul.commentlist {
	padding-left: 20px;
}
ul.commentlist li {
	display: block;
}

.comment-author vcard {
	padding-left:5px;
}

.commentmetadata {
	text-align:right;
	font-style:italic;
	padding-right:5px;
	padding-top:5px;
}

.commenttext {
	padding-left:5px;
}

.reply {
	padding-left:5px;
}

/***********************************************/
/* From old PmWiki stdlayout.css               */
/***********************************************/


body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 300;
	color: #333;
	line-height: 1.4;	
}

strong {
	font-weight: bold;
}

hr {
	border-bottom: 1px dashed #51a2eb;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

body { 
	margin-left:20px;
}
ul, ol, pre, dl { margin-top:0px; margin-bottom:0px; }
.pagetitle { font-size:200%; font-weight:bold; }

td#wikileft { vertical-align:top;
}
td#wikibody { vertical-align:top; }
td#wikiright { vertical-align:top; }

/***********************************************/
/* formatting tables                           */
/***********************************************/

table.pretty th { 
	background-color:#bbbbff;
	vertical-align: baseline; }
table.pretty tr.ind1 { 
	background-color:#ffffff;
	vertical-align: baseline; }
table.pretty tr.ind2 { 
	background-color:#ddddff;
	vertical-align: baseline; }

/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#masthead{
	margin: 0px 0px 20px;
	#border-bottom: 1px solid #ccc;
	width: auto;
/*	background: #ddf; */
}
#masthead a:link {
	color:#333;
}
#masthead a:visited {
	color:#333;
}

#sidebar{
	float: right;
	width: 250px;
	padding: 0 10px 0 20px;
	font-size: 70%;
	border-left: 1px dashed #51a2eb;
}

#comment-author vcard {
	background-color: black;
}
/*#sidebar ul a:link, #sidebar ul a:visited {display: inline;}*/

#sidebar ul {list-style: none; margin: 0; padding: 0;}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#sidebar li {border-bottom: 1px solid #eee;}

/* fix for browsers that don't need the hack */
html>body #sidebar li {border-bottom: none;}

small {
	font-size: 70%;
}

.popover {
	position: absolute;
	display: none;
	z-index: 2;
	height: 150px;
	width: 300px;
	background-color: #eaeaea;
}

#insidefooter {
	clear: both;
	text-align: right;
	padding: 0px;
}
#postmeta{
	clear: both;
/*	background: #aaf; */
	width:auto;
	/* border-top: 1px dashed #51a2eb; */
	font-size: 70%;
	text-align:left;
	color: #888;
	/* padding: 20px 0 10px; */
/*	margin-top: -1px; */
}
#footer{
	clear: both;
/*	background: #aaf; */
	width:auto;
	border-top: 1px dashed #51a2eb;
	font-size: 70%;
	text-align:center;
	color: #888;
	padding: 20px 0 10px;
/*	margin-top: -1px; */
}
/* negative top margin pulls siteinfo up so its top border overlaps (and thus lines up with)
   the bottom border of the sidebar in cases where they "touch" */

#footer img{
	padding: 4px 0px 4px 0px;
	vertical-align: middle;
}

.floatnote {
	float:left;
	clear:left;
	margin-right:10px;
	padding: 0px;
	font-size:90%;
}
ul.floatnote { 
	padding-left:0px; 
	list-style-type:none; 
}
li.floatnote { 
	margin-top:3px; 
} 

/***********************************************/
/* HTML tag styles                             */
/***********************************************/ 

body {
	margin: 0px;
	padding: 0px 30px 0px 60px;
	min-width: 700px;
}

p, ul, ol, li {
	margin-top: 1em;
	margin-bottom: 1em;
}

a:link, a:visited, a:hover {
	color: #3d7db9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/* overrides decoration from previous rule for hovered links */

h1, h2, h3, h4, h5, h6, .pagetitle {
	margin: 0px;
	padding: 0px;
	line-height: 90%;
}

h1{
 font-size: 120%;
 color: #006699;
}

h2{
 font-size: 114%;
 color: #006699;
}

h3{
 font-size: 100%;
 color: #006699;
}

h4{
 font-size: 100%;
 font-weight: normal;
 color: #006699;
}

h5{
 font-size: 100%;
 color: #006699;
}

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

label{
 color: #334d55;
}

.hide {
	color:#fff;
	font-size:x-small;
	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
}
.hide p {
}	
.hide A {
	color:#fff;
}
.hide A:hover {
	color:#666;
	text-decoration: none;
}

div#wrapper {
	margin: 0;
	padding: 0;
}

.pagegroup {
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
	color: #51a2eb;
	text-transform: lowercase;
	font-size: 300%;
	margin-bottom: -0.3em;
	margin-top:.3em;
	margin-left: -30px;
	line-height: 75%;
}

.pagetitle a, .pagegroup a {
	text-decoration: none;
}

table.familyfest th { 
	color: #BBBBBB; 
	font-style: normal; 
	font-weight: normal; 
}

table.familyfest tr {
}

table.familyfest td {
	padding-right: 5px;
	padding-left: 5px;
}

.lfloat {
	position: relative;
	display: block;
	right: 30px;
	margin-right: -10px;
}

.frame {
	padding: 0px;
	border: none;
}
#wikitext {
	margin-right: 300px;
	padding-right: 20px;
	border-right: 1px dashed #51a2eb;
	border-right: none;
}

/****** color blue ******/

a:link, a:visited, a:hover {
	color: #3d7db9;
}

h1, h2, h3, h4, h5, h6 {
 color: #334d55;
}

.pagegroup, .pagegroup a {
	color: #51a2eb !important;
}

#wikitext, #sidebar, #footer, hr {
	border-color: #51a2eb;
}

/*** end blue ***/

.floatnote {
	float:left;
	clear:left;
	margin-right:10px;
	padding: 0px;
	font-size:90%;
}
ul.floatnote { 
	padding-left:0px; 
	list-style-type:none; 
}
li.floatnote { 
	margin-top:3px; 
} 



label{
	font: bold 100% Arial,sans-serif;
 color: #334d55;
}

.hide {
	color:#fff;
	font-size:x-small;
	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
}
.hide p {
}	
.hide A {
	color:#fff;
}
.hide A:hover {
	color:#666;
	text-decoration: none;
}


.prompt {
	font-weight: normal;
	text-decoration: none;
}

.messagehead {
            margin:1em 0 0 0;
            padding:0 0 0 3px;
            border:0px;
            }
.messageitem {
            margin:0;
            padding:5px 10px 10px 10px;
            border:0px;
            }


blockquote {
	border-left: 1px solid #ccc;
	margin-left: 0px;
	padding-left: 20px;
}

#sidebar h2 {
	margin-top:5px;
}

#category_cloud a:hover {
	border-bottom: 1px solid rgb(166, 75, 60);
	text-decoration: none;
}

#category_cloud a:link, #category_cloud a:visited {
	display: inline;
}

/* styling of commentbox entries */

.messagehead *, .journalhead * {
	margin: 0px;
}

.messagehead img, .journalhead img {
	vertical-align: -2px;
}

.messagehead, .journalhead {
	padding: 0 20px;
	border-bottom: 1px solid white;
	margin-right: 20px;
	text-align: right;
	background: #dcdcf6;
	color: white;
	border-color: white;
}

.messageitem p:first-child, .journalitem p:first-child {
	margin-top: 0px;
}

.messageitem, .journalitem {
	padding: 20px;
	margin-right: 20px;
	background: #eee;
	border-color: white;
}

/*use the following if message head should be same as message item */

/* .messagehead { background:#eef; border-bottom:none; } */

.diaryhead h4 {
	border-bottom: 1px solid #999;
	margin-bottom: 1px;
}

* html .diaryhead h4 {
	margin-bottom: 0;
}

.diaryitem {
	background: #ffc;
	margin: 0;
	padding: 3px;
}

.messagehead h5, .messagedate h4, .journalhead h5, .journaldate h4,
.diaryhead h4 {
	margin: 0.25em 0 0 0;
}

.commentbutton {
	margin: 0 0 0 5px;
	padding: 0 3px
}

.commenttext {
	width: 100%;
	margin: 0 0 3px 0
}

em.access {
	font-style: normal;
	color: #FF2222;
}

div.code {
	border-color: #999999;
	border-width: 1px;
	border-style: dotted;
	padding: 5px;
	font-family: "Courier New", Courier, Monaco, monospace;
	background-color: #dddddd;
}

#sidebar p {
	margin-top: 0px;
	margin-bottom: 1em;
}

#sidebar p.vspace {
	margin-top: 1em;
	margin-bottom: 0px;
}

@media print {

#sidebar {
	display: none;
}

#wikitext {
	margin-right: 20px;
}

.noprint {
	display: none;
}

}
